<div class="row">
    <div class="col-md-12">
        <!-- <form (ngSubmit) = "onSubmit"> -->
        <form>
            <h1> Add New Post </h1>
            <fieldset>
                <label for="title">Title:</label>
                <input name="title" type="text" [(ngModel)]="title">
                <label for="body">Body:</label>
                <textarea name="body" rows="5" [(ngModel)]="body"></textarea>
            </fieldset>

            <button type="button" (click)="addNewPost()">Submit Post</button>
        </form>
    </div>
</div>