<div class="top-nav">
    <div class="top-nav-title">Fake Blog</div>
    <div class="top-nav-menu">
        <div class="main">
            <div class="menu-item">
                <a routerLink="/user-list" routerLinkActive="is-active">Home</a>
            </div>
            <div class="menu-item">
                <a routerLink="/posts" routerLinkActive="is-active"> Posts</a>
            </div>
            <div class="menu-item">
                <a routerLink="/about" routerLinkActive="is-active"> About Us</a>
            </div>
            <div class="menu-item">
                <a routerLink="/contact" routerLinkActive="is-active"> Contact Us</a>
            </div>
        </div>
    </div>
</div>